<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python_Addin</Name><AddInID>{dd3a1066-6713-4087-bddb-e2ce2e498a06}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>01/22/2021</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Random_addin.py" namespace="Random_addin"><ArcMap>
    <Commands>
        <Tool caption="Random" category="Python_Addin" class="TollClassRandom" id="Random_addin.tool" image="" message="" tip=""><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python_Addin" id="Random_addin.toolbar" showInitially="true"><Items><Tool refID="Random_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>